$act-color: #629DFE;

.active-color-blue {
    color: $act-color;
}

.active-text-black {
    font-size: 12px;
    color: rgba(#191919, 0.8);
    font-weight: 600;
    font-family: 'Hind', sans-serif;
}

.text-white {
    color: white;
}

.mt-20 {
    margin-top: 20px;
    display: inline-block;
}

.mb-10 {
    margin-bottom: 10px;
    display: inline-block;
}

.active-smaller {
    font-size: 12px;
    color: #777777;
}

@mixin hover-color-blue {
    transition: all 0.2s;

    &:hover {
        color: $act-color;
    }
}

.hcblue {
    transition: all 0.2s;

    &:hover {
        color: $act-color;
    }
}

.flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.fadeIn {
    animation: fadeIn 2s forwards;
}

.fadeOut {
    animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}