.active-color-blue {
  color: #629DFE;
}

.active-text-black {
  font-size: 12px;
  color: rgba(25, 25, 25, 0.8);
  font-weight: 600;
  font-family: 'Hind', sans-serif;
}

.mt-20 {
  margin-top: 20px;
  display: inline-block;
}

.mb-10 {
  margin-bottom: 10px;
  display: inline-block;
}

.active-smaller {
  font-size: 12px;
  color: #777777;
}

.hcblue {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hcblue:hover {
  color: #629DFE;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.row .col-1 {
  padding: 10px;
  width: 8.33333%;
}

.row .col-2 {
  padding: 10px;
  width: 16.66667%;
}

.row .col-3 {
  padding: 10px;
  width: 25%;
}

.row .col-4 {
  padding: 10px;
  width: 33.33333%;
}

.row .col-5 {
  padding: 10px;
  width: 41.66667%;
}

.row .col-6 {
  padding: 10px;
  width: 50%;
}

.row .col-7 {
  padding: 10px;
  width: 58.33333%;
}

.row .col-8 {
  padding: 10px;
  width: 66.66667%;
}

.row .col-9 {
  padding: 10px;
  width: 75%;
}

.row .col-10 {
  padding: 10px;
  width: 83.33333%;
}

.row .col-11 {
  padding: 10px;
  width: 91.66667%;
}

.row .col-12 {
  padding: 10px;
  width: 100%;
}

@media (max-width: 576px) {
  .row .col-xs-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-12 {
    padding: 10px;
    width: 100%;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  width: 100%;
}

header {
  padding: 15px 0 8px 0;
  -webkit-box-shadow: 0 0 10px -2px rgba(51, 51, 51, 0.2);
          box-shadow: 0 0 10px -2px rgba(51, 51, 51, 0.2);
}

header.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-animation: appearing 0.4s linear;
          animation: appearing 0.4s linear;
}

header .container {
  position: relative;
}

header .container .logo {
  margin-right: 40px;
}

header .container .header-category .header-category-selection {
  margin: 3px 20px 0 0;
}

header .container .header-category .header-category-selection .hcs-link {
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 12px;
}

header .container .header-category .header-category-selection .hcs-link:hover {
  color: #629DFE;
}

header .container .header-category .header-category-selection:hover .dropdown {
  display: block;
  -webkit-animation: dropdown-appearing 0.4s;
          animation: dropdown-appearing 0.4s;
}

header .container .header-category .header-category-selection .dropdown {
  position: absolute;
  background-color: white;
  top: 100%;
  display: none;
  -webkit-box-shadow: 0 0 10px -4px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 10px -4px rgba(51, 51, 51, 0.5);
  padding: 30px;
}

header .container .header-category .header-category-selection .dropdown.drop-style-1 {
  width: 100%;
  left: 0;
  height: 90vh;
  overflow: auto;
}

header .container .header-category .header-category-selection .dropdown.drop-style-2 {
  width: 100%;
  left: 0;
}

header .container .header-category .header-category-selection .dropdown.drop-style-3 {
  width: 20%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

header .container .header-category .header-category-selection .dropdown .sub-list li {
  position: relative;
  margin-bottom: 5px;
}

header .container .header-category .header-category-selection .dropdown .sub-list li:hover .lazy-picture {
  display: block;
  -webkit-animation: show-lazy-picture 0.3s;
          animation: show-lazy-picture 0.3s;
}

header .container .header-category .header-category-selection .dropdown .sub-list li.img-show {
  width: 100%;
}

header .container .header-category .header-category-selection .dropdown .sub-list li a img {
  position: absolute;
  width: 50%;
  top: 0;
  display: none;
  left: 50%;
  z-index: 10;
}

header .container .header-category .header-category-selection .dropdown .sub-list li a .tt-badge {
  display: inline-block;
  line-height: 1;
  color: white;
  padding: 3px;
  font-size: 11px;
  border-radius: 2px;
  margin-left: 3px;
}

header .container .header-category .header-category-selection .dropdown .sub-list li a .tt-badge.tt-n {
  background: #03a9f5;
}

header .container .header-category .header-category-selection .dropdown .sub-list li a .tt-badge.tt-p {
  background: #fdbc20;
}

header .container .header-category .header-category-selection .dropdown .sub-list li a .tt-badge.tt-s {
  background: #f8353e;
}

header .container .header-category .header-category-selection .dropdown .home-under.a {
  margin-bottom: 250px;
}

header .container .header-category .header-category-selection .dropdown .split {
  position: relative;
  width: 100%;
  color: white;
  cursor: pointer;
}

header .container .header-category .header-category-selection .dropdown .split span {
  position: absolute;
  z-index: 1;
  left: 5%;
}

header .container .header-category .header-category-selection .dropdown .split span.huge-font {
  top: 15%;
  font-size: 30px;
}

header .container .header-category .header-category-selection .dropdown .split span.shop-now {
  bottom: 5%;
  font-size: 12px;
}

header .container .header-category .header-category-selection .dropdown .split span.shop-now::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
}

header .container .header-category .header-category-selection .dropdown .split span.shop-now:hover::after {
  -webkit-animation: shop-now 0.3s linear forwards;
          animation: shop-now 0.3s linear forwards;
}

header .container .header-category .header-category-selection .dropdown .split span.shipping {
  top: 30%;
  font-size: 14px;
}

header .container .header-icon-group {
  margin-left: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .container .header-icon-group:hover {
  color: #629DFE;
}

header .container .header-icon-group .icon {
  margin-left: 18px;
  position: relative;
}

header .container .header-icon-group .icon .amount-products {
  display: none;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #2879FE;
  border-radius: 50%;
  left: 100%;
  bottom: 50%;
  text-align: center;
  font-size: 12px;
  color: white;
}

header .container .header-icon-group .icon .icon-interact {
  cursor: pointer;
}

header .container .header-icon-group .icon .icon-interact .bi {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 17px;
  color: rgba(51, 51, 51, 0.8);
}

header .container .header-icon-group .icon .icon-interact .bi:hover {
  color: #629DFE;
}

.fakecontent {
  height: 1000px;
}

@-webkit-keyframes dropdown-appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown-appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show-lazy-picture {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes show-lazy-picture {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes appearing {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes appearing {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes shop-now {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes shop-now {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */