.active-size {
  background: #629DFE !important;
  color: white;
}

.active-color-blue {
  color: #629DFE;
}

.active-text-black {
  font-size: 12px;
  color: rgba(25, 25, 25, 0.8);
  font-weight: 600;
  font-family: 'Hind', sans-serif;
}

.text-white {
  color: white;
}

.mt-20 {
  margin-top: 20px;
  display: inline-block;
}

.mb-10 {
  margin-bottom: 10px;
  display: inline-block;
}

.active-smaller {
  font-size: 12px;
  color: #777777;
}

.hcblue {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hcblue:hover {
  color: #629DFE;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fadeIn {
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

.item-size .size {
  font-size: 14px;
  padding: 1px 5px;
  background: #f5f2f2;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 3px;
  margin-right: 5px;
  color: #191919;
}

.item-size .size:hover {
  background: #629DFE;
  color: white;
}

.tt-badge {
  display: inline-block;
  line-height: 1;
  color: white;
  padding: 3px;
  font-size: 11px;
  border-radius: 2px;
  margin-left: 3px;
}

.tt-badge.tt-n {
  background: #03a9f5;
}

.tt-badge.tt-p {
  background: #fdbc20;
}

.tt-badge.tt-s {
  background: #f8353e;
}

.tt-badge.p-a {
  position: absolute;
  top: 2%;
  left: 3%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes dropdown-appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown-appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show-lazy-picture {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes show-lazy-picture {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes appearing {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes appearing {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes shop-now {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes shop-now {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes btn-slide {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes btn-slide {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes icon_header_move {
  from {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes icon_header_move {
  from {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes view-name {
  from {
    right: 150%;
    opacity: 0;
  }
  to {
    right: 120%;
    opacity: 1;
  }
}

@keyframes view-name {
  from {
    right: 150%;
    opacity: 0;
  }
  to {
    right: 120%;
    opacity: 1;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.row .col-1 {
  padding: 10px;
  width: 8.33333%;
}

.row .col-2 {
  padding: 10px;
  width: 16.66667%;
}

.row .col-3 {
  padding: 10px;
  width: 25%;
}

.row .col-4 {
  padding: 10px;
  width: 33.33333%;
}

.row .col-5 {
  padding: 10px;
  width: 41.66667%;
}

.row .col-6 {
  padding: 10px;
  width: 50%;
}

.row .col-7 {
  padding: 10px;
  width: 58.33333%;
}

.row .col-8 {
  padding: 10px;
  width: 66.66667%;
}

.row .col-9 {
  padding: 10px;
  width: 75%;
}

.row .col-10 {
  padding: 10px;
  width: 83.33333%;
}

.row .col-11 {
  padding: 10px;
  width: 91.66667%;
}

.row .col-12 {
  padding: 10px;
  width: 100%;
}

@media (max-width: 576px) {
  .row .col-xs-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row .col-sm-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row .col-md-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .row .col-lg-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-1 {
    padding: 10px;
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-2 {
    padding: 10px;
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-3 {
    padding: 10px;
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-4 {
    padding: 10px;
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-5 {
    padding: 10px;
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-6 {
    padding: 10px;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-7 {
    padding: 10px;
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-8 {
    padding: 10px;
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-9 {
    padding: 10px;
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-10 {
    padding: 10px;
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-11 {
    padding: 10px;
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-12 {
    padding: 10px;
    width: 100%;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  width: 100%;
}

body {
  overflow-x: hidden;
}

header {
  padding: 15px 0 8px 0;
  -webkit-box-shadow: 0 0 10px -2px rgba(51, 51, 51, 0.2);
          box-shadow: 0 0 10px -2px rgba(51, 51, 51, 0.2);
  z-index: 100;
  background-color: white;
  width: 100vw;
  position: relative;
}

header.fixed-header {
  position: fixed;
  width: 100vw;
  top: 0;
  -webkit-animation: appearing 0.4s linear;
          animation: appearing 0.4s linear;
}

header .search-form {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 51;
  background-color: white;
  padding: 40px 80px;
}

header .search-form .looking-input {
  padding: 10px 0;
  border-bottom: 1px solid #bfb9b9;
}

header .search-form .looking-input input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 20px;
}

header .search-form .looking-input .btn-search {
  padding: 0 10px;
  cursor: pointer;
}

header .search-form .looking-input .btn-search i {
  font-size: 20px;
}

header .search-form .looking-for {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .search-form .looking-for .looking {
  font-size: 13px;
  color: #bfb9b9;
}

header .search-form .off-looking {
  display: inline-block;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

header .container {
  position: relative;
}

header .container .logo {
  margin-right: 40px;
}

header .container .header-category .header-category-selection {
  margin: 3px 20px 0 0;
}

header .container .header-category .header-category-selection .hcs-link {
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 12px;
}

header .container .header-category .header-category-selection .hcs-link:hover {
  color: #629DFE;
}

header .container .header-category .header-category-selection:hover .dropdown {
  display: block;
  -webkit-animation: dropdown-appearing 0.4s;
          animation: dropdown-appearing 0.4s;
}

header .container .header-category .header-category-selection .dropdown {
  position: absolute;
  background-color: white;
  top: 100%;
  display: none;
  -webkit-box-shadow: 0 0 10px -4px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 10px -4px rgba(51, 51, 51, 0.5);
  padding: 30px;
  z-index: 100;
}

header .container .header-category .header-category-selection .dropdown.drop-style-1 {
  width: 100%;
  left: 0;
  height: 90vh;
  overflow: auto;
}

header .container .header-category .header-category-selection .dropdown.drop-style-2 {
  width: 100%;
  left: 0;
}

header .container .header-category .header-category-selection .dropdown.drop-style-3 {
  width: 20%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

header .container .header-category .header-category-selection .dropdown .slide .specials {
  margin-bottom: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

header .container .header-category .header-category-selection .dropdown .slide .specials:hover {
  color: #629DFE;
}

header .container .header-category .header-category-selection .dropdown .slide .owl-prev,
header .container .header-category .header-category-selection .dropdown .slide .owl-next {
  position: absolute;
  bottom: 100%;
  right: 0;
}

header .container .header-category .header-category-selection .dropdown .slide .owl-prev:hover,
header .container .header-category .header-category-selection .dropdown .slide .owl-next:hover {
  background: none;
}

header .container .header-category .header-category-selection .dropdown .slide .owl-prev:hover span,
header .container .header-category .header-category-selection .dropdown .slide .owl-next:hover span {
  color: #03a9f5;
}

header .container .header-category .header-category-selection .dropdown .slide .owl-prev span,
header .container .header-category .header-category-selection .dropdown .slide .owl-next span {
  font-weight: 300;
  font-size: 30px !important;
}

header .container .header-category .header-category-selection .dropdown .slide .owl-prev {
  right: 20px;
}

header .container .header-category .header-category-selection .dropdown .sub-list li {
  position: relative;
}

header .container .header-category .header-category-selection .dropdown .sub-list li:hover .lazy-picture {
  display: block;
  -webkit-animation: show-lazy-picture 0.3s;
          animation: show-lazy-picture 0.3s;
}

header .container .header-category .header-category-selection .dropdown .sub-list li.img-show {
  width: 100%;
}

header .container .header-category .header-category-selection .dropdown .sub-list li a img {
  position: absolute;
  width: 50%;
  top: 0;
  display: none;
  left: 50%;
  z-index: 10;
}

header .container .header-category .header-category-selection .dropdown .home-under.a {
  padding-bottom: 250px;
}

header .container .header-category .header-category-selection .dropdown .split {
  position: relative;
  width: 100%;
  color: white;
  cursor: pointer;
}

header .container .header-category .header-category-selection .dropdown .split span {
  position: absolute;
  z-index: 1;
  left: 5%;
}

header .container .header-category .header-category-selection .dropdown .split span.huge-font {
  top: 15%;
  font-size: 30px;
}

header .container .header-category .header-category-selection .dropdown .split span.shop-now {
  bottom: 5%;
  font-size: 12px;
}

header .container .header-category .header-category-selection .dropdown .split span.shop-now::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
}

header .container .header-category .header-category-selection .dropdown .split span.shop-now:hover::after {
  -webkit-animation: shop-now 0.3s linear forwards;
          animation: shop-now 0.3s linear forwards;
}

header .container .header-category .header-category-selection .dropdown .split span.shipping {
  top: 30%;
  font-size: 14px;
}

header .container .header-icon-group {
  margin-left: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .container .header-icon-group:hover {
  color: #629DFE;
}

header .container .header-icon-group .icon {
  margin-left: 18px;
  position: relative;
}

header .container .header-icon-group .icon:hover .i_tagname {
  color: #333;
}

header .container .header-icon-group .icon:hover .icon_name {
  display: block;
  -webkit-animation: icon_header_move 0.3s forwards;
          animation: icon_header_move 0.3s forwards;
}

header .container .header-icon-group .icon .icon_name {
  display: none;
  position: absolute;
  z-index: 51;
  line-height: 1.4;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  -webkit-box-shadow: 0 0 5px -2px #333;
          box-shadow: 0 0 5px -2px #333;
  border-radius: 3px;
}

header .container .header-icon-group .icon .icon_name::after {
  content: '';
  border-bottom: 5px solid #c7c0c0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 51;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .container .header-icon-group .icon .icon_name::before {
  content: '';
  border-bottom: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 52;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .container .header-icon-group .icon .icon_name .i_tagname {
  font-size: 13px;
  padding: 1px 7px;
  display: inline-block;
  white-space: nowrap;
}

header .container .header-icon-group .icon .amount-products {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #2879FE;
  border-radius: 50%;
  left: 100%;
  top: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
  font-size: 12px;
  color: white;
}

header .container .header-icon-group .icon .icon-interact {
  cursor: pointer;
}

header .container .header-icon-group .icon .icon-interact .bi {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 17px;
  color: rgba(51, 51, 51, 0.8);
}

header .container .header-icon-group .icon .icon-interact .bi:hover {
  color: #629DFE;
}

.slider {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}

.slider .owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  color: #629DFE;
  text-decoration: none;
}

.slider .owl-theme .owl-nav {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  padding: 20px;
}

.slider .owl-theme .owl-nav span {
  width: 20px;
  height: 20px;
  font-size: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #f0e7e7;
}

.slider .owl-theme .owl-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.slider .owl-theme .owl-dots .owl-dot.active span {
  background: #333;
}

.slider .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background: #c9c6c6;
  border-radius: 50%;
}

.slider .owl-item.active .slide_content {
  -webkit-animation: btn-slide 1s forwards;
          animation: btn-slide 1s forwards;
}

.slider .slide_base .slide_content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider .slide_base .slide_content .active-color-blue {
  font-size: 36px;
  line-height: 70px;
}

.slider .slide_base .slide_content .premium {
  font-size: 70px;
  line-height: 70px;
  text-align: center;
}

.slider .slide_base .slide_content .premium_note {
  font-size: 15px;
  line-height: 1.1;
  margin-top: 18px;
  color: #4d4a4a;
}

.slider .slide_base .slide_content button {
  color: white;
  background: #629DFE;
  border-radius: 6px;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
}

.slider .slide_base .slide_content button:hover {
  background-color: #2879FE;
}

.slider .slide_base .slide_img img {
  width: 100vw;
}

.slider .slide_base .slide_video video {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.theme-selection img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.theme-selection .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .theme-selection .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .theme-selection .grid-container .class2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (max-width: 576px) {
  .theme-selection .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 20px;
  }
  .theme-selection .grid-container .class2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .theme-selection .grid-container .grid-item {
    grid-column: unset !important;
    grid-row: unset !important;
  }
  .theme-selection .grid-container .class1,
  .theme-selection .grid-container .class2 {
    -ms-grid-columns: unset !important;
        grid-template-columns: unset !important;
  }
}

.theme-selection .grid-container .class1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 20px;
}

.theme-selection .grid-container .class1 .grid-item3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.theme-selection .grid-container .class2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 20px;
}

.theme-selection .grid-container .class2 .grid-item6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.theme-selection .grid-container .grid-item {
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  cursor: pointer;
}

.theme-selection .grid-container .grid-item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.theme-selection .grid-container .grid-item:hover .grid-theme {
  background: #4a86e7;
  color: white;
}

.theme-selection .grid-container .grid-item .grid-theme {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
}

.best-seller {
  padding-top: 50px;
}

.best-seller .container .title-group .title {
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.best-seller .container .title-group .title:hover {
  color: #629DFE;
}

.best-seller .container .title-group .title title_content {
  font-size: 16px;
}

.best-seller .container .item-group {
  position: relative;
}

.best-seller .container .item-group:hover .item_info {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.best-seller .container .item-group .item_func {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

.best-seller .container .item-group .item_func .item_view {
  position: relative;
  width: 50px;
  height: 50px;
  background: white;
  margin-bottom: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.best-seller .container .item-group .item_func .item_view:hover {
  background: #2879FE;
}

.best-seller .container .item-group .item_func .item_view:hover button i {
  color: white;
}

.best-seller .container .item-group .item_func .item_view:hover .view_name {
  display: block;
  -webkit-animation: view-name 0.3s forwards;
          animation: view-name 0.3s forwards;
}

.best-seller .container .item-group .item_func .item_view button .view_name {
  position: absolute;
  white-space: nowrap;
  right: 110%;
  background: white;
  border-radius: 3px;
  padding: 1px 10px;
  -webkit-box-shadow: 0 0 5px -2px #333;
          box-shadow: 0 0 5px -2px #333;
  display: none;
}

.best-seller .container .item-group .item_func .item_view button .view_name::after {
  content: '';
  border-left: 5px solid #c7c0c0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: 51;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.best-seller .container .item-group .item_func .item_view button .view_name::before {
  content: '';
  border-left: 4px solid white;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: 52;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.best-seller .container .item-group .item_func .item_view button i {
  cursor: pointer;
}

.best-seller .container .item-group .item_picture_group {
  cursor: pointer;
}

.best-seller .container .item-group .item_info {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
}

.best-seller .container .item-group .item_info .item_brand {
  color: #999999;
  font-size: 13px;
  margin-top: 20px;
  line-height: 19px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.best-seller .container .item-group .item_info .item_brand:hover {
  color: #629DFE;
}

.best-seller .container .item-group .item_info .item_rating {
  cursor: pointer;
}

.best-seller .container .item-group .item_info .item_rating i {
  color: #ffb503;
  font-size: 12px;
}

.best-seller .container .item-group .item_info .item_name {
  font-size: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.best-seller .container .item-group .item_info .item_name:hover {
  color: #629DFE;
}

.best-seller .container .item-group .item_info .item_price {
  font-weight: 600;
}

.best-seller .container .item-group .item_info .item_options {
  margin: 10px 0;
}

.best-seller .container .item-group .item_info .item_options .option {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}

.best-seller .container .item-group .item_info .item_options .option.active-option::after {
  border: 2px solid #2879FE;
  -webkit-animation: fadeIn 0.3s forwards;
          animation: fadeIn 0.3s forwards;
}

.best-seller .container .item-group .item_info .item_options .option:hover::after {
  border: 2px solid #2879FE;
}

.best-seller .container .item-group .item_info .item_options .option:last-child {
  margin-right: 0;
}

.best-seller .container .item-group .item_info .item_options .option::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.best-seller .container .item-group .item_info .item_options .option .option-picture {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.best-seller .container .item-group .item_info .item_addCart {
  background-color: #4085f5;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.best-seller .container .item-group .item_info .item_addCart:hover {
  background: #155fd6;
}

.best-seller .container .item-group .btnCart_hidden {
  width: 100%;
  height: 50px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox .box {
  width: 50vw;
  height: 60vh;
  background: white;
  position: fixed;
  padding: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

#lightbox .box .box-info {
  height: 100%;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#lightbox .box .box-info .box-name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 19px;
  color: #484747;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

#lightbox .box .box-info .box-name:hover {
  color: #629DFE;
}

#lightbox .box .box-info .box-price {
  font-size: 30px;
  font-weight: 600;
  color: #2879fe;
}

#lightbox .box .box-info .box-intro {
  font-size: 14px;
  color: #777777;
}

#lightbox .box img {
  width: 100%;
  height: 100%;
}

#lightbox.avtive-lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-selection-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .theme-selection-2 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (max-width: 576px) {
  .theme-selection-2 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .theme-selection-2 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.theme-selection-2 .grid-item {
  position: relative;
  overflow: hidden;
}

.theme-selection-2 .grid-item img {
  width: 100%;
  height: 100%;
}

.theme-selection-2 .grid-item .theme-content {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  border-radius: 5px;
}

.theme-selection-2 .grid-item .theme-content .a1-1 {
  color: #629DFE;
}

.theme-selection-2 .grid-item .theme-content .a1 {
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;
}

.theme-selection-2 .grid-item .theme-content .a2 {
  font-size: 26px;
  font-weight: 500;
  white-space: nowrap;
}

.theme-selection-2 .grid-item:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.theme-selection-2 .grid-item img {
  -webkit-transition: 1s;
  transition: 1s;
}

.theme-selection-3 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 20px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .theme-selection-3 .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (max-width: 576px) {
  .theme-selection-3 .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .theme-selection-3 .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.theme-selection-3 .container .grid-item {
  position: relative;
  cursor: pointer;
}

.theme-selection-3 .container .grid-item:hover .content-t3 {
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.theme-selection-3 .container .grid-item .content-t3 {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 5px;
  width: 85%;
  top: 75%;
  left: 50%;
  padding: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.theme-selection-3 .container .grid-item .content-t3 p {
  text-align: center;
  font-size: 14px;
  color: #999999;
}

.theme-selection-3 .container .grid-item .content-t3 .t1 {
  color: #629DFE;
  font-size: 14px;
  white-space: nowrap;
}

.theme-selection-3 .container .grid-item .content-t3 .t2 {
  font-size: 20px;
  white-space: nowrap;
}

.theme-selection-3 .container .grid-item .content-t3 .by {
  font-size: 12px;
  margin-top: 20px;
}

.theme-selection-3 .container .grid-item img {
  width: 100%;
  height: 100%;
}

.theme-selection-3 .container .grid-item img {
  -webkit-transition: 1s;
  transition: 1s;
}

.abc {
  height: 1000px;
}
/*# sourceMappingURL=style.css.map */