@import "effect";
@import "media";
@import "grid";

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
}

body {
    overflow-x: hidden;
}

header {
    padding: 15px 0 8px 0;
    box-shadow: 0 0 10px -2px rgba(#333, 0.2);
    z-index: 100;
    background-color: white;
    width: 100vw;
    position: relative;

    &.fixed-header {
        position: fixed;
        width: 100vw;
        top: 0;
        animation: appearing 0.4s linear;
    }

    .search-form {
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 51;
        background-color: white;
        padding: 40px 80px;

        .looking-input {
            padding: 10px 0;
            border-bottom: 1px solid rgb(191, 185, 185);

            input {
                // border: 1px solid #333;
                flex-grow: 1;
                font-size: 20px;
            }

            .btn-search {
                padding: 0 10px;
                cursor: pointer;

                i {
                    font-size: 20px;
                }
            }
        }

        .looking-for {
            // margin-bottom: 10px;
            justify-content: space-between;

            .looking {
                font-size: 13px;
                color: rgb(191, 185, 185);
            }
        }

        .off-looking {
            display: inline-block;
            font-size: 20px;
            padding: 0 10px;
            cursor: pointer;
            // background-color: rgb(235, 232, 232);
            text-align: center;
            border-radius: 50%;
        }
    }

    .container {
        position: relative;

        .logo {
            margin-right: 40px;
        }

        .header-category {
            .header-category-selection {
                margin: 3px 20px 0 0;

                .hcs-link {
                    display: block;
                    @include hover-color-blue;
                    font-size: 12px;
                }

                &:hover {
                    .dropdown {
                        display: block;
                        animation: dropdown-appearing 0.4s;
                    }
                }

                .dropdown {
                    position: absolute;
                    background-color: white;
                    top: 100%;
                    display: none;
                    box-shadow: 0 0 10px -4px rgba(#333, 0.5);
                    padding: 30px;
                    z-index: 100;

                    &.drop-style-1 {
                        width: 100%;
                        left: 0;
                        height: 90vh;
                        overflow: auto;
                    }

                    &.drop-style-2 {
                        width: 100%;
                        left: 0;
                    }

                    &.drop-style-3 {
                        width: 20%;
                        transform: translateX(-50px);
                    }

                    .slide {
                        // position: relative;

                        .specials {
                            margin-bottom: 15px;
                            @include hover-color-blue;
                            cursor: pointer;
                        }



                        .owl-prev,
                        .owl-next {
                            position: absolute;
                            bottom: 100%;
                            right: 0;
                            // transform: translateY(-50px);

                            &:hover {
                                background: none;

                                span {
                                    color: #03a9f5;
                                }
                            }

                            span {
                                font-weight: 300;
                                font-size: 30px !important;
                            }
                        }

                        .owl-prev {
                            right: 20px;
                        }
                    }


                    .sub-list {
                        li {
                            position: relative;
                            // margin-bottom: 5px;

                            &:hover {
                                .lazy-picture {
                                    display: block;
                                    animation: show-lazy-picture 0.3s;
                                }
                            }

                            &.img-show {
                                width: 100%;
                            }

                            a {
                                img {
                                    position: absolute;
                                    width: 50%;
                                    top: 0;
                                    display: none;
                                    left: 50%;
                                    z-index: 10;
                                }
                            }
                        }
                    }

                    .home-under {
                        &.a {
                            padding-bottom: 250px;
                        }
                    }

                    .split {
                        position: relative;
                        width: 100%;
                        color: white;
                        cursor: pointer;

                        // background-size: cover;
                        span {
                            position: absolute;
                            z-index: 1;
                            left: 5%;

                            &.huge-font {
                                top: 15%;
                                font-size: 30px;
                            }

                            &.shop-now {
                                bottom: 5%;
                                font-size: 12px;

                                &::after {
                                    content: '';
                                    width: 100%;
                                    height: 2px;
                                    background-color: white;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                }

                                &:hover {
                                    &::after {
                                        animation: shop-now 0.3s linear forwards;
                                    }
                                }
                            }

                            &.shipping {
                                top: 30%;
                                font-size: 14px;
                            }
                        }

                    }
                }
            }
        }

        .header-icon-group {
            margin-left: auto;
            @include hover-color-blue;

            .icon {
                margin-left: 18px;
                position: relative;

                &:hover {
                    .i_tagname {
                        color: #333;
                    }

                    .icon_name {
                        display: block;
                        animation: icon_header_move 0.3s forwards;
                    }
                }

                .icon_name {
                    display: none;
                    position: absolute;
                    z-index: 51;
                    line-height: 1.4;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: white;
                    box-shadow: 0 0 5px -2px #333;
                    // border: 1px solid #333;
                    border-radius: 3px;

                    &::after {
                        content: '';
                        border-bottom: 5px solid rgb(199, 192, 192);
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid transparent;
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        z-index: 51;
                        transform: translateX(-50%);
                    }

                    &::before {
                        content: '';
                        border-bottom: 4px solid white;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 4px solid transparent;
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        z-index: 52;
                        transform: translateX(-50%);
                    }

                    .i_tagname {
                        font-size: 13px;
                        padding: 1px 7px;
                        display: inline-block;
                        white-space: nowrap;
                    }
                }

                .amount-products {
                    // display: none;
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    background: #2879FE;
                    border-radius: 50%;
                    left: 100%;
                    top: 0;
                    transform: translate(0, -50%);
                    text-align: center;
                    font-size: 12px;
                    color: white;
                }

                .icon-interact {
                    cursor: pointer;

                    .bi {
                        @include hover-color-blue;
                        font-size: 17px;
                        color: rgba(#333, 0.8);
                    }
                }

            }
        }
    }
}

.slider {
    object-fit: cover;
    position: relative;
    z-index: 1;

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: none;
        color: $act-color;
        text-decoration: none;
    }

    .owl-theme {
        .owl-nav {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
            top: 50%;
            padding: 20px;

            span {
                width: 20px;
                height: 20px;
                font-size: 50px;
                transition: all 0.3s;
                color: rgb(240, 231, 231);
                // background: rgb(218, 211, 211);
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 50%);

            .owl-dot {
                &.active {
                    span {
                        background: #333;
                    }
                }

                span {
                    width: 15px;
                    height: 15px;
                    margin: 5px 7px;
                    background: rgb(201, 198, 198);
                    border-radius: 50%;
                }
            }
        }
    }

    .owl-item.active {
        .slide_content {
            animation: btn-slide 1s forwards;
        }
    }

    .slide_base {
        .slide_content {
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .active-color-blue {
                font-size: 36px;
                line-height: 70px;
            }

            .premium {
                font-size: 70px;
                line-height: 70px;
                text-align: center;
            }

            .premium_note {
                font-size: 15px;
                line-height: 1.1;
                margin-top: 18px;
                color: rgb(77, 74, 74);
            }

            button {
                color: white;
                background: $act-color;
                border-radius: 6px;
                cursor: pointer;
                padding: 15px 30px;
                font-size: 12px;
                text-transform: uppercase;
                margin-top: 30px;
                transition: all 0.3s;
                font-weight: 600;

                &:hover {
                    background-color: #2879FE;
                }
            }
        }

        .slide_img {
            img {
                width: 100vw;
                // height: 100vh;
            }
        }

        .slide_video {
            video {
                width: 100vw;
                // height: 100vh;
                object-fit: cover;
            }
        }
    }
}

.theme-selection {
    img {
        width: 100%;
        height: 100%;
        transition: all 1s;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 20px;

        @include sm {
            grid-template-columns: auto;

            .class2 {
                grid-row: 1/2;
            }
        }

        @include xs {
            grid-template-columns: auto;
            padding: 20px;

            .class2 {
                grid-row: 1/2;
            }

            .grid-item {
                grid-column: unset !important;
                grid-row: unset !important;
            }

            .class1,
            .class2 {
                grid-template-columns: unset !important;
            }
        }

        .class1 {
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;

            .grid-item3 {
                grid-column: 2/3;
                grid-row: 1/3;
            }
        }

        .class2 {
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;

            .grid-item6 {
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }

        .grid-item {
            position: relative;
            object-fit: fill;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                img {
                    transform: scale(1.2);
                }

                .grid-theme {
                    background: #4a86e7;
                    color: white;
                }
            }

            .grid-theme {
                position: absolute;
                z-index: 50;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(white, 0.8);
                transition: all 0.5s;
                padding: 15px 30px;
                border-radius: 5px;
                font-size: 16px;
            }
        }
    }
}

.best-seller {
    padding-top: 50px;

    .container {
        .title-group {


            .title {
                // font-weight: 600;
                font-size: 22px;
                cursor: pointer;
                @include hover-color-blue;

                title_content {
                    font-size: 16px;
                }
            }
        }

        .item-group {
            position: relative;

            &:hover {
                .item_info {
                    transform: translateY(-50px);
                }
            }

            .item_func {
                position: absolute;
                right: 0;
                top: 0;
                margin: 10px;

                .item_view {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    background: white;
                    margin-bottom: 10px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;

                    &:hover {
                        background: #2879FE;

                        button {
                            i {
                                color: white;
                            }
                        }

                        .view_name {
                            display: block;
                            animation: view-name 0.3s forwards;
                        }
                    }

                    button {
                        .view_name {
                            position: absolute;
                            white-space: nowrap;
                            right: 110%;
                            background: white;
                            border-radius: 3px;
                            padding: 1px 10px;
                            box-shadow: 0 0 5px -2px #333;
                            display: none;


                            &::after {
                                content: '';
                                border-left: 5px solid rgb(199, 192, 192);
                                border-bottom: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid transparent;
                                position: absolute;
                                top: 50%;
                                left: 100%;
                                z-index: 51;
                                transform: translateY(-50%);
                            }

                            &::before {
                                content: '';
                                border-left: 4px solid white;
                                border-bottom: 4px solid transparent;
                                border-right: 4px solid transparent;
                                border-top: 4px solid transparent;
                                position: absolute;
                                top: 50%;
                                left: 100%;
                                z-index: 52;
                                transform: translateY(-50%);
                            }
                        }

                        i {
                            cursor: pointer;
                        }
                    }
                }
            }

            .item_picture_group {
                cursor: pointer;

                .item_picture {}
            }

            .item_info {
                transition: 0.4s;
                background: white;

                .item_brand {
                    color: #999999;
                    font-size: 13px;
                    margin-top: 20px;
                    line-height: 19px;
                    @include hover-color-blue;
                    cursor: pointer;
                }

                .item_rating {
                    cursor: pointer;

                    i {
                        color: #ffb503;
                        font-size: 12px;
                    }
                }

                .item_name {
                    font-size: 14px;
                    @include hover-color-blue;
                    cursor: pointer;
                    text-align: center;
                }

                .item_price {
                    font-weight: 600;
                }

                .item_options {
                    margin: 10px 0;

                    .option {

                        &.active-option {
                            &::after {
                                border: 2px solid #2879FE;
                                animation: fadeIn 0.3s forwards;
                            }
                        }

                        &:hover {
                            &::after {
                                border: 2px solid #2879FE;
                            }
                        }

                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        cursor: pointer;
                        position: relative;
                        margin-right: 5px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            // border: 2px solid #2879FE;
                            border-radius: 5px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .option-picture {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }

                .item_addCart {
                    background-color: #4085f5;
                    padding: 10px 20px;
                    margin-top: 10px;
                    border-radius: 5px;
                    color: white;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background: #155fd6;
                    }

                }
            }

            .btnCart_hidden {
                width: 100%;
                height: 50px;
                background: white;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 10;
            }
        }

    }
}

#lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);

    display: none;


    // img {
    //     width: 200px;
    //     height: 300px;
    // }
    .box {
        width: 50vw;
        height: 60vh;
        background: white;
        position: fixed;
        padding: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;

        .box-info {
            height: 100%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .box-name {
                font-size: 24px;
                font-weight: 600;
                margin-top: 19px;
                color: rgb(72, 71, 71);
                @include hover-color-blue;
                cursor: pointer;
            }

            .box-price {
                font-size: 30px;
                font-weight: 600;
                color: #2879fe;
            }

            .box-intro {
                font-size: 14px;
                color: #777777;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }


    &.avtive-lightbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.theme-selection-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;

    @include sm {
        grid-template-columns: auto auto;
    }

    @include xs {
        grid-template-columns: auto;
    }

    @include md {
        grid-template-columns: auto auto;
    }

    .grid-item {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        .theme-content {
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(white, 0.8);
            padding: 10px 30px;
            border-radius: 5px;

            .a1-1 {
                color: $act-color;
                // white-space: nowrap;
            }

            .a1 {
                font-size: 16px;
                white-space: nowrap;
                font-weight: 500;
            }

            .a2 {
                font-size: 26px;
                font-weight: 500;
                white-space: nowrap;

            }
        }

        &:hover {
            img {
                transform: scale(1.15);

            }
        }

        img {
            transition: 1s;
        }
    }
}

.theme-selection-3 {
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;

        @include sm {
            grid-template-columns: auto auto;
        }

        @include xs {
            grid-template-columns: auto;
        }

        @include md {
            grid-template-columns: auto auto;
        }

        .grid-item {
            position: relative;
            // overflow: hidden;
            cursor: pointer;

            &:hover {
                .content-t3 {

                    transform: translate(-50%, -10%);
                }
            }

            .content-t3 {
                position: absolute;
                z-index: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: white;
                border-radius: 5px;
                width: 85%;
                top: 75%;
                left: 50%;
                padding: 20px;
                transform: translateX(-50%);
                transition: 0.3s;



                p {
                    text-align: center;
                    font-size: 14px;
                    color: #999999;
                }

                .t1 {
                    color: $act-color;
                    font-size: 14px;
                    white-space: nowrap;
                }

                .t2 {
                    font-size: 20px;
                    white-space: nowrap;

                }

                .by {
                    font-size: 12px;
                    margin-top: 20px;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }

            img {
                transition: 1s;
            }
        }
    }
}

.abc {
    height: 1000px;
}