@import "effect";
@import "media";
@import "grid";

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
}

body {
    overflow-x: hidden;
}

header {
    padding: 15px 0 8px 0;
    box-shadow: 0 0 10px -2px rgba(#333, 0.2);
    z-index: 100;
    background-color: white;
    width: 100vw;
    position: relative;

    @include lg {
        padding: 15px 25px 8px 25px;
    }

    @include md {
        padding: 15px 25px 8px 25px;
    }

    @include sm {
        padding: 15px 20px 8px 20px;
    }

    @include xs {
        padding: 15px 15px 8px 15px;
    }

    &.fixed-header {
        position: fixed;
        width: 100vw;
        top: 0;
        animation: appearing 0.4s linear;
    }

    .search-form {
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;
        padding: 40px 80px;

        @include md {
            padding: 20px 30px;
        }

        .looking-input {
            padding: 10px 0;
            border-bottom: 1px solid rgb(191, 185, 185);

            @include md {
                padding: 0;
            }

            input {
                // border: 1px solid #333;
                flex-grow: 1;
                font-size: 20px;

                @include md {
                    font-size: 16px;
                }
            }

            .btn-search {
                padding: 0 10px;
                cursor: pointer;

                i {
                    font-size: 20px;
                }
            }
        }

        .looking-for {
            justify-content: space-between;

            .looking {
                font-size: 13px;
                color: rgb(191, 185, 185);
            }
        }

        .off-looking {
            display: inline-block;
            font-size: 20px;
            padding: 0 10px;
            cursor: pointer;
            // background-color: rgb(235, 232, 232);
            text-align: center;
            border-radius: 50%;
        }
    }

    .container {
        position: relative;

        @include md {
            justify-content: space-between;
            align-items: center;
        }

        @include sm {
            justify-content: space-between;
            align-items: center;
        }

        @include xs {
            justify-content: space-between;
            align-items: center;
        }

        .header-bar {
            flex-direction: column;
            display: none;
            cursor: pointer;

            @include md {
                display: flex;
            }

            @include sm {
                display: flex;
            }

            @include xs {
                display: flex;
            }

            span {
                width: 15px;
                height: 3px;
                background: #333;
                margin-bottom: 3px;
                border-radius: 3px;
            }
        }

        .logo {
            margin-right: 40px;

            @include md {
                margin-right: 0;
            }

            @include sm {
                margin-right: 0;
            }

            @include xs {
                margin-right: 0;
            }
        }

        .header-category {
            @include md {
                display: none;
            }

            @include sm {
                display: none;
            }

            @include xs {
                display: none;
            }

            .header-category-selection {
                margin: 3px 20px 0 0;

                .hcs-link {
                    display: block;
                    @include hover-color-blue;
                    font-size: 12px;
                }

                &:hover {
                    .dropdown {
                        display: block;
                        animation: dropdown-appearing 0.4s;
                    }
                }

                .dropdown {
                    position: absolute;
                    background-color: white;
                    top: 100%;
                    display: none;
                    box-shadow: 0 0 10px -4px rgba(#333, 0.5);
                    padding: 30px;
                    z-index: 100;

                    &.drop-style-1 {
                        width: 100%;
                        left: 0;
                        height: 90vh;
                        overflow: auto;
                    }

                    &.drop-style-2 {
                        width: 100%;
                        left: 0;
                    }

                    &.drop-style-3 {
                        width: 20%;
                        transform: translateX(-50px);
                    }

                    .slide {
                        // position: relative;

                        .specials {
                            margin-bottom: 15px;
                            @include hover-color-blue;
                            cursor: pointer;
                        }



                        .owl-prev,
                        .owl-next {
                            position: absolute;
                            bottom: 100%;
                            right: 0;
                            // transform: translateY(-50px);

                            &:hover {
                                background: none;

                                span {
                                    color: #03a9f5;
                                }
                            }

                            span {
                                font-weight: 300;
                                font-size: 30px !important;
                            }
                        }

                        .owl-prev {
                            right: 20px;
                        }
                    }


                    .sub-list {
                        li {
                            position: relative;
                            // margin-bottom: 5px;

                            &:hover {
                                .lazy-picture {
                                    display: block;
                                    animation: show-lazy-picture 0.3s;
                                }
                            }

                            &.img-show {
                                width: 100%;
                            }

                            a {
                                img {
                                    position: absolute;
                                    width: 50%;
                                    top: 0;
                                    display: none;
                                    left: 50%;
                                    z-index: 10;
                                }
                            }
                        }
                    }

                    .home-under {
                        &.a {
                            padding-bottom: 250px;
                        }
                    }

                    .split {
                        position: relative;
                        width: 100%;
                        color: white;
                        cursor: pointer;

                        // background-size: cover;
                        span {
                            position: absolute;
                            z-index: 1;
                            left: 5%;

                            &.huge-font {
                                top: 15%;
                                font-size: 30px;
                            }

                            &.shop-now {
                                bottom: 5%;
                                font-size: 12px;

                                &::after {
                                    content: '';
                                    width: 100%;
                                    height: 2px;
                                    background-color: white;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                }

                                &:hover {
                                    &::after {
                                        animation: shop-now 0.3s linear forwards;
                                    }
                                }
                            }

                            &.shipping {
                                top: 30%;
                                font-size: 14px;
                            }
                        }

                    }
                }
            }
        }

        .header-icon-group {
            margin-left: auto;
            @include hover-color-blue;

            @include md {
                margin-left: 0;
            }

            @include sm {
                margin-left: 0;
            }

            @include xs {
                margin-left: 0;
            }

            .icon {
                margin-left: 18px;
                position: relative;

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    .i_tagname {
                        color: #333;
                    }

                    .icon_name {
                        display: block;
                        animation: icon_header_move 0.3s forwards;
                    }
                }

                &.icon-user,
                &.icon-slide {
                    @include md {
                        display: none;
                    }

                    @include sm {
                        display: none;
                    }

                    @include xs {
                        display: none;
                    }
                }

                .icon_name {
                    display: none;
                    position: absolute;
                    z-index: 51;
                    line-height: 1.4;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: white;
                    box-shadow: 0 0 5px -2px #333;
                    // border: 1px solid #333;
                    border-radius: 3px;

                    &::after {
                        content: '';
                        border-bottom: 5px solid rgb(199, 192, 192);
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid transparent;
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        z-index: 51;
                        transform: translateX(-50%);
                    }

                    &::before {
                        content: '';
                        border-bottom: 4px solid white;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 4px solid transparent;
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        z-index: 52;
                        transform: translateX(-50%);
                    }

                    .i_tagname {
                        font-size: 13px;
                        padding: 1px 7px;
                        display: inline-block;
                        white-space: nowrap;
                    }
                }

                .amount-products {
                    // display: none;
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    background: #2879FE;
                    border-radius: 50%;
                    left: 100%;
                    top: 0;
                    transform: translate(0, -50%);
                    text-align: center;
                    font-size: 12px;
                    color: white;
                }

                .icon-interact {
                    cursor: pointer;

                    .bi {
                        @include hover-color-blue;
                        font-size: 17px;
                        color: rgba(#333, 0.8);
                    }
                }

            }
        }
    }
}

.header_hiden {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 270px;
    height: 100vh;
    z-index: 200;
    overflow: auto;

    .off_header_hiden {
        cursor: pointer;
        padding: 10px 27px;
        font-size: 16px;
        color: #777777;
        border-bottom: 1px solid #e2dede;
        font-weight: 600;
    }

    .hh-section {

        .hh-name {
            cursor: pointer;
            padding: 9px 27px 9px 30px;

            &:hover {
                background: #e7e5e5;
            }

            li {
                &:hover {
                    a {
                        color: $act-color;
                    }
                }

                a {
                    transition: 0.3s;
                    color: #777777;
                    font-size: 14px;
                }
            }

            .hh-name-section {
                display: flex;
                justify-content: space-between;
                transition: 0.3s;

                &:hover {

                    .name,
                    i {
                        color: $act-color;

                    }
                }

                .name {
                    font-size: 13px;
                    color: rgb(73, 45, 53);
                    font-weight: 600;
                }
            }

            i {
                font-size: 10px;
            }

            .hhn-sub {
                padding-left: 10px;

                .hhn-sub-list {
                    padding-left: 10px;
                }
            }
        }
    }

}

.slider {
    // object-fit: cover;
    z-index: 1;

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: none;
        color: $act-color;
        text-decoration: none;
    }

    .owl-theme {
        .owl-nav {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
            top: 50%;
            padding: 20px;

            span {
                width: 20px;
                height: 20px;
                font-size: 50px;
                transition: all 0.3s;
                color: rgb(240, 231, 231);
                // background: rgb(218, 211, 211);
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 50%);

            @include xs {
                display: none !important;
            }

            @include sm {
                display: none !important;
            }

            @include md {
                display: none !important;
            }

            .owl-dot {
                &.active {
                    span {
                        background: #333;
                    }
                }

                span {
                    width: 15px;
                    height: 15px;
                    margin: 5px 7px;
                    background: rgb(201, 198, 198);
                    border-radius: 50%;
                }
            }
        }
    }

    .owl-item.active {
        .slide_content {
            animation: btn-slide 1s forwards;
        }
    }

    .silde_img {
        position: relative;
    }

    .slide_base {
        .slide_content {
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .active-color-blue {
                font-size: 3vw;
                line-height: 10vh;

                @include xs {
                    line-height: 4vh;
                }

                @include sm {
                    line-height: 5vh;
                }

                @include md {
                    line-height: 8vh;
                }
            }

            .premium {
                font-size: 5vw;
                text-align: center;
                line-height: 15vh;

                @include md {
                    line-height: 10vh;
                }

                @include sm {
                    line-height: 7vh;
                }

                @include xs {
                    line-height: 5vh;
                }

            }

            button {
                color: white;
                background: $act-color;
                border-radius: 6px;
                cursor: pointer;
                padding: 2vh 3vw;
                font-size: 1vw;
                text-transform: uppercase;
                margin-top: 2vh;
                transition: all 0.3s;
                font-weight: 600;

                @include xs {
                    font-size: 2vh;
                }

                @include sm {
                    font-size: 2vh;
                    padding: 1.5vh 2.5vw;
                }

                @include md {
                    font-size: 2vh;
                    padding: 1.5vh 2.5vw;
                }

                @include lg {
                    font-size: 2vh;
                    padding: 2vh 3vw;
                }

                &:hover {
                    background-color: #2879FE;
                }
            }
        }

        .slide_img {
            img {
                width: 100vw;
            }
        }

        .slide_video {
            video {
                width: 100vw;
                // height: 100vh;
                object-fit: cover;
            }
        }
    }
}

.theme-selection {
    img {
        width: 100%;
        height: 100%;
        transition: all 1s;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 20px;

        @include sm {
            grid-template-columns: auto;

            .class2 {
                grid-row: 1/2;
            }
        }

        @include xs {
            grid-template-columns: auto;

            .class2 {
                grid-row: 1/2;
            }

            .grid-item {
                grid-column: unset !important;
                grid-row: unset !important;
            }

            .class1,
            .class2 {
                grid-template-columns: unset !important;
            }
        }

        .class1 {
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;

            .grid-item3 {
                grid-column: 2/3;
                grid-row: 1/3;
            }
        }

        .class2 {
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;

            .grid-item6 {
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }

        .grid-item {
            position: relative;
            object-fit: fill;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                img {
                    transform: scale(1.2);
                }

                .grid-theme {
                    background: #4a86e7;
                    color: white;
                }
            }

            .grid-theme {
                position: absolute;
                z-index: 50;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(white, 0.8);
                transition: all 0.5s;
                padding: 15px 30px;
                border-radius: 5px;
                font-size: 16px;
            }
        }
    }
}

.best-seller {
    padding-top: 50px;

    .container {
        @include lg {
            max-width: 768px;
        }

        @include md {
            max-width: 540px;
        }

        @include sm {
            max-width: 480px;
        }

        @include xs {
            max-width: 300px;
        }

        .title-group {


            .title {
                // font-weight: 600;
                font-size: 22px;
                cursor: pointer;
                @include hover-color-blue;

                title_content {
                    font-size: 16px;
                }
            }
        }

        .item-group {
            position: relative;

            &:hover {
                .item_info {
                    transform: translateY(-50px);
                }
            }

            .item_func {
                position: absolute;
                right: 0;
                top: 0;
                margin: 10px;

                .item_view {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    background: white;
                    margin-bottom: 10px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;

                    &:hover {
                        background: #2879FE;

                        button {
                            i {
                                color: white;
                            }
                        }

                        .view_name {
                            display: block;
                            animation: view-name 0.3s forwards;
                        }
                    }

                    button {
                        .view_name {
                            position: absolute;
                            white-space: nowrap;
                            right: 110%;
                            background: white;
                            border-radius: 3px;
                            padding: 1px 10px;
                            box-shadow: 0 0 5px -2px #333;
                            display: none;


                            &::after {
                                content: '';
                                border-left: 5px solid rgb(199, 192, 192);
                                border-bottom: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid transparent;
                                position: absolute;
                                top: 50%;
                                left: 100%;
                                z-index: 51;
                                transform: translateY(-50%);
                            }

                            &::before {
                                content: '';
                                border-left: 4px solid white;
                                border-bottom: 4px solid transparent;
                                border-right: 4px solid transparent;
                                border-top: 4px solid transparent;
                                position: absolute;
                                top: 50%;
                                left: 100%;
                                z-index: 52;
                                transform: translateY(-50%);
                            }
                        }

                        i {
                            cursor: pointer;
                        }
                    }
                }
            }

            .item_picture_group {
                cursor: pointer;

                .item_picture {}
            }

            .item_info {
                transition: 0.4s;
                background: white;

                .item_brand {
                    color: #999999;
                    font-size: 13px;
                    margin-top: 20px;
                    line-height: 19px;
                    @include hover-color-blue;
                    cursor: pointer;
                }

                .item_rating {
                    cursor: pointer;

                    i {
                        color: #ffb503;
                        font-size: 12px;
                    }
                }

                .item_name {
                    font-size: 14px;
                    @include hover-color-blue;
                    cursor: pointer;
                    text-align: center;
                }

                .item_price {
                    font-weight: 600;
                }

                .item_options {
                    margin: 10px 0;

                    .option {

                        &.active-option {
                            &::after {
                                border: 2px solid #2879FE;
                                animation: fadeIn 0.3s forwards;
                            }
                        }

                        &:hover {
                            &::after {
                                border: 2px solid #2879FE;
                            }
                        }

                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        cursor: pointer;
                        position: relative;
                        margin-right: 5px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            // border: 2px solid #2879FE;
                            border-radius: 5px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .option-picture {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }

                .item_addCart {
                    background-color: #4085f5;
                    padding: 10px 20px;
                    margin-top: 10px;
                    border-radius: 5px;
                    color: white;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background: #155fd6;
                    }

                }
            }

            .btnCart_hidden {
                width: 100%;
                height: 50px;
                background: white;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 10;
            }
        }

    }
}

#lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);

    display: none;


    // img {
    //     width: 200px;
    //     height: 300px;
    // }
    .box {
        background: white;
        position: fixed;
        max-height: 90vh;
        max-width: 90vw;
        overflow: auto;
        padding: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;

        @include lg {
            width: 65vw;
        }

        @include md {
            width: 80vw;
        }

        .box-info {
            height: 100%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .box-name {
                font-size: 24px;
                font-weight: 600;
                margin-top: 19px;
                color: rgb(72, 71, 71);
                @include hover-color-blue;
                cursor: pointer;
            }

            .box-price {
                font-size: 30px;
                font-weight: 600;
                color: #2879fe;
            }

            .box-intro {
                font-size: 14px;
                color: #777777;
            }
        }

        img {
            width: 250px;
            height: 300px;
        }
    }


    &.avtive-lightbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.theme-selection-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;

    @include sm {
        grid-template-columns: auto auto;
    }

    @include xs {
        grid-template-columns: auto;
    }

    @include md {
        grid-template-columns: auto auto;
    }

    .grid-item {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        .theme-content {
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(white, 0.8);
            padding: 10px 30px;
            border-radius: 5px;

            .a1-1 {
                color: $act-color;
                // white-space: nowrap;
            }

            .a1 {
                font-size: 16px;
                white-space: nowrap;
                font-weight: 500;
            }

            .a2 {
                font-size: 26px;
                font-weight: 500;
                white-space: nowrap;

            }
        }

        &:hover {
            img {
                transform: scale(1.15);

            }
        }

        img {
            transition: 1s;
        }
    }
}

.theme-selection-3 {
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;

        @include sm {
            grid-template-columns: auto auto;
        }

        @include xs {
            grid-template-columns: auto;
        }

        @include md {
            grid-template-columns: auto auto;
        }

        .grid-item {
            position: relative;
            // overflow: hidden;
            cursor: pointer;
            margin-bottom: 120px;

            &:hover {
                .content-t3 {

                    transform: translate(-50%, -10%);
                }
            }

            .content-t3 {
                position: absolute;
                z-index: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: white;
                border-radius: 5px;
                width: 85%;
                top: 75%;
                left: 50%;
                padding: 20px;
                transform: translateX(-50%);
                transition: 0.3s;



                p {
                    text-align: center;
                    font-size: 14px;
                    color: #999999;
                }

                .t1 {
                    color: $act-color;
                    font-size: 14px;
                    white-space: nowrap;
                }

                .t2 {
                    font-size: 20px;
                    white-space: nowrap;

                }

                .by {
                    font-size: 12px;
                    margin-top: 20px;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }

            img {
                transition: 1s;
            }
        }
    }
}

.IG {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .follow-us {
        font-size: 24px;

        span {
            a {
                color: $act-color;
                text-decoration: underline;
            }
        }
    }

    .instagram {
        font-size: 20px;
        font-weight: 500;
    }
}

.ig-img {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    cursor: pointer;

    @include sm {
        grid-template-columns: auto auto auto;
    }

    @include xs {
        grid-template-columns: auto auto auto;
    }

    .img-insta {
        position: relative;

        img {
            height: 100%;
        }

        &:hover {
            .blur {
                display: flex;
            }
        }

        .blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            animation: fadeIn 0.3s forwards;

            i {
                color: white;
            }
        }
    }
}

.services {
    margin: 50px 0;

    .container {
        @include lg {
            max-width: 768px;
        }

        @include md {
            max-width: 700px;
        }

        @include sm {
            max-width: 480px;
        }

        @include xs {
            max-width: 400px;
        }

        .ser-icon {
            i {
                font-size: 50px;
                color: #2879fe;
                cursor: pointer;
            }
        }

        .service {
            cursor: pointer;

            span {
                display: block;
                margin-left: 20px;

                &.up {
                    font-size: 16px;
                    @include hover-color-blue;
                    font-weight: 500;
                }

                &.down {
                    font-size: 13px;
                    color: #777777;
                }
            }
        }
    }
}

.contactUs {
    background: #2879fe;
    padding: 10px 0;

    @include sm {
        display: none;
    }

    @include xs {
        display: none;
    }

    .container {
        @include lg {
            max-width: 768px;
        }

        @include md {
            max-width: 700px;
        }

        .row {
            align-items: center;
        }

        .in-touch {
            color: white;
            font-weight: 500;
        }



        .input-group {
            display: flex;

            input {
                flex-grow: 1;
                background-color: white;
                font-size: 16px;
                padding: 10px;
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
            }

            .btn-join {
                background: rgb(62, 62, 62);
                color: white;
                padding: 0 20px;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background: rgb(34, 33, 33);
                }
            }

        }

        .social-media {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            i {
                margin-left: 20px;
                color: white;

                &:hover {
                    color: black;
                }
            }
        }
    }
}

.company-info {
    padding: 50px 0;
    background: #f9f5f5;

    @include sm {
        display: none;
    }

    @include xs {
        display: none;
    }

    .container {
        @include lg {
            max-width: 768px;
        }

        @include md {
            max-width: 700px;
        }
    }

    .lis {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
            margin-bottom: 15px;
            font-weight: 600;
            color: rgb(74, 73, 73);
        }

        span {
            font-size: 13px;
            color: #777777;
            margin-bottom: 10px;
            cursor: pointer;

            &.com-list {
                @include hover-color-blue
            }
        }
    }
}

footer {
    margin: 20px 0;

    .container {
        @include lg {
            max-width: 768px;
        }

        @include md {
            max-width: 700px;
        }

        @include sm {
            max-width: 480px;
            flex-direction: column;
        }

        @include xs {
            max-width: 400px;
            flex-direction: column;
        }

        .logo-wokiee {
            margin-right: 10px;
        }

        .f-c {
            align-items: center;

            @include sm {
                flex-direction: column;
            }

            @include xs {
                flex-direction: column;
            }
        }

        .copyright {
            color: #777777;
            font-size: 14px;
        }

        .payment {
            .pay {
                transition: 0.3s;
                margin-left: 5px;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.company-respon {
    background: #f7f8fa;

    @media (min-width: 768px) {
        display: none;
    }

    .container {
        @include sm {
            max-width: 480px;
        }

        @include xs {
            max-width: 400px;
        }

        .list {
            .lis {
                .show-group {
                    cursor: pointer;
                    border-bottom: 1px solid rgb(220, 217, 217);
                    padding-top: 25px;

                    &:hover {
                        p {
                            color: $act-color;
                        }
                    }

                    p {
                        font-weight: 600;
                        color: rgb(74, 73, 73);
                        transition: 0.3s;

                    }

                    .show-c-r {
                        font-size: 20px;
                        color: #777777;
                        font-weight: 700;
                    }
                }

                .our-info {
                    flex-direction: column;

                    // display: none;
                    .input-group {
                        display: flex;

                        flex-direction: column;
                        padding: 20px 0;

                        input {
                            flex-grow: 1;
                            background-color: white;
                            font-size: 16px;
                            padding: 10px;
                            border-bottom-left-radius: 3px;
                            border-top-left-radius: 3px;
                        }

                        .btn-join {
                            background: #2879fe;
                            color: white;
                            padding: 10px 20px;
                            margin-top: 20px;
                            border-bottom-right-radius: 3px;
                            border-top-right-radius: 3px;
                            transition: 0.3s;
                            cursor: pointer;

                            &:hover {
                                background: rgb(34, 33, 33);
                            }
                        }

                    }

                    li {
                        span {
                            font-size: 13px;
                            color: #777777;
                            margin-bottom: 10px;
                            cursor: pointer;

                            &.com-list {
                                @include hover-color-blue
                            }
                        }
                    }
                }
            }
        }
    }
}

.abc {
    height: 1000px;
}